html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    display: block;
}